
h1.form{
  font-family: Arial;
  font-size: 250%;
  position: absolute;
  top: 110%;
  left:10%;
}
h1.particulars{
  font-family: Arial;
  font-size: 250%;
  position: relative;
  top: 120%;
  left:15%;
}
label{
  font-size: 100%;
}
input{
  margin: 1px;
  border-radius: 2% solid #000;
  border-style: solid;
  border-width: 1px;
  background-color: #FFFFFF;
}
input:hover{
  background-color:#AAAAAA;
}
input[type=email]{
  width: 25vw;
  height: 6vh;
}
input[type=submit]{
  display: block;
  color: #FFFFFF;
  background-color: #778DA9;
}
input[type=submit]:hover {
  background-color: #39375B;
}
#addMed{
  font-size: 150%;
  width:5%;
  height: 14%;
}
.format{
  font-weight: normal;
}
h5{
  color: #1B065E;
}
p.medicine{
  display: inline-block;
  width: 31%;
  font-size: 90%;
}
textarea{
  position: relative;
  display: block;
}
textarea:hover{
  background-color:#AAAAAA;
}
nav.nav_p{
  position: relative;
  top: 67%;
}
/* Mobile View */
@media screen and (max-width: 992px) {
  h1{
    font-family: Arial;
    font-size: 400%;
  }
  h1.particulars{
    left: 30%;
    font-size: 7vw;
  }
  h1.form{
    top: 52vh;
    left: 24%;
    font-size: 450%;
  }
  h5{
    font-size: 4.5vw;
  }
  label{
    margin: 1px;
    width:40%;
    font-size: 5vw;
    display: block;
  }
  form{
    font-size: 3.5vw;
    height: 100%;
  }
  .degree{
    width: 49%;
    margin-right: 40%;
    margin-bottom: 10px;
    display: inline-block;
  }
  input{
    margin: 1px;
    display: inline-block;
    border-radius: 2% solid #000;
    border-style: solid;
    border-width: 1px;
  }
  input[type=email]{
    height:10%;
    width:40%;
  }
  input[type=radio] {
    display: inline-block;
    border: 0px;
    width: 10%;
    height: 2em;
}
input[type=date]{
  height:4vh;
}
  #age{
    display: block;
  }
  #date{
    display: block;
  }
  p{
  font-weight: bold;
  font-size:5vw;
  }
.format{
  display: inline-block;
  font-size: 5vw;
}


#addMed{
  display: block;
  width: 10vw;
  height:5vh;
/*position: sticky;*/
right: 0;
}
p.medicine{
  display: block;
  width: 31%;
  font-size: 50%;
}
#medicine_fields{
  display: block;
  position: relative;
}
}
